@charset 'UTF-8';
@import 'mixins';

$trans: all .2s ease-in-out;
$green: #3AC1B0;
$orange: #F79F1D;

@include font-face('ProximaNova', '../fonts/ProximaNova-Bold/ProximaNova-Bold', bold); 
@include font-face('ProximaNova', '../fonts/ProximaNova-Regular/ProximaNova-Regular', normal); 

::selection {
	background: $green;
	color: #fff;
}


body {
	font-family: 'ProximaNova', sans-serif;
	font-size: 14px;
	color: #fff;
	background: #292E3D;
}

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

.btn,
input,
textarea,
select,
button:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	@include r(767) {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		text-align: center;
	}

	display: inline-block;
	transition: $trans;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	background: $green;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 40px 10px 20px;
	border: 2px solid #FFFFFF;
	position: relative;
	font-size: 19px;
	margin-bottom: 15px;

	&:focus {
		outline: none;
	}

	&:hover {
		background: transparent;
		color: $green;
		border-color: $green;
	}
	
	img {
		position: absolute;
		bottom: -38px;
    	right: -21px;
	}
}

.green {
	color: $green;
}

.orange {
	color: $orange;
}

.container {
	@include r(1122) {
		padding: 0 20px;
	}

	margin: 0 auto;
	max-width: 1082px;
}

.main {
	@include r(1023) {
		padding: 60px 0;
		height: auto;
	}

	height: calc(100vh - 62px);

	.container {
		@include r(1023) {
			display: block;
		}

		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > div {
			@include r(1023) {
				width: 100%;
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			width: 50%;
		}
	}

	.top {
		@include r(767) {
			display: block;
			text-align: center;
		}

		display: flex;
		align-items: center;
		margin-bottom: 24px;

		div {
			@include r(767) {
				padding-left: 0;
				margin-left: 0;
				border-left: 0;
				border-bottom: 3px solid $green;
				padding-bottom: 20px;
				margin-top: 10px;
				font-size: 15px;

				br {
					display: none;
				}
			}

			font-weight: bold;
			line-height: 1.29;
			padding-left: 22px;
			margin-left: 22px;
			border-left: 3px solid $green;
		}
	}

	h1 {
		@include r(767) {
			text-align: center;
		}

		line-height: 1.2;
		margin-bottom: 30px;
		font-weight: bold;
	}

	p {
		@include r(767) {
			text-align: center;

			br {
				display: none;
			}
		}

		line-height: 1.32;
		font-size: 22px;
		margin-bottom: 25px;
	}

	.video {
		@include r(767) {
			width: 100%;
			text-align: center;
			display: inline-block;
		}

		color: #B3ADAD;
		font-size: 12px;
	}
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 30px;

	li {
		position: relative;
		margin-bottom: 20px;
		padding-left: 20px;
		line-height: 1.29;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 9px;
			height: 11px;
			background: url('../img/mark.svg') no-repeat center;
			background-size: contain;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

iframe {
	@include r(1279) {
		width: 100% !important;
	}

	@include r(1023) {
		height: 400px;
	}

	@include r(767) {
		height: 181px;
	}
}

.info {
	@include r(767) {
		display: block;
	}

	display: flex;
	align-items: center;
	margin-top: 20px;
	padding-left: 13px;

	& > div {
		@include r(1279) {
			flex-shrink: 0;
		}

		display: flex;
	}

	img {
		margin-right: 13px;
		pointer-events: none;
		user-select: none;
	}

	strong {
		font-weight: normal;
		font-size: 18px;
		display: block;
		margin-bottom: 7px;
		margin-top: 13px;
	}

	span {
		font-size: 10px;
		display: inline-block;
		line-height: 1.35;
	}

	.btn {
		@include r(1279) {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			text-align: center;
		}

		@include r(767) {
			margin-left: 0;
			margin-top: 15px;
		}

		margin-left: 30px;
		background: transparent;
		margin-bottom: 0;
		margin-right: 0;
		color: $green;
		border-color: $green;
		padding: 10px 20px;

		&:hover {
			background: $green;
			color: #fff;
		}
	}
}

@media screen and (max-height: 550px) {
	.main {
		height: auto;
		padding: 40px 0;
	}
}